
// Colours
$white: #fff;
$brand-blue: #009FE3;
$brand-blue-alpha: #59BCED;

// Layout parameters
$left-margin: 60px;

// Fonts
$font_reg:        "New Rail Alphabet Light","Helvetica Neue", Helvetica, Arial, sans-serif;
$font_bold:       "New Rail Alphabet Bold","Helvetica Neue", Helvetica, Arial, sans-serif;

// Breakpoints (minimum widths)
$tablet:  			600px;
$desktop: 			960px;
$desktop_large: 1200px;
$cinema:  			1600px;
