
@import '_normalize.scss';
@import '_variables.scss';
@import '_mixins.scss';


* {
  box-sizing: border-box;
  margin: 0; padding:0;
}

html {
	-webkit-text-size-adjust:none;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	image-rendering:optimizeQuality;
	overflow-x: hidden;
  overflow-y: scroll;
}

body {
  font-family: $font_reg;
	font-weight: 200;
	font-style: normal;
  margin: 0;
  padding: 0;

}

main {
  width:100%;
}

header {
  background-color: $brand-blue;
  background: rgba(0,159,227,1);
  background: rgba(0,159,227,1);
  background: -moz-linear-gradient(-45deg, rgba(0,159,227,1) 0%, rgba(0,83,227,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(0,159,227,1)), color-stop(100%, rgba(0,83,227,1)));
  background: -webkit-linear-gradient(-45deg, rgba(0,159,227,1) 0%, rgba(0,83,227,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(0,159,227,1) 0%, rgba(0,83,227,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(0,159,227,1) 0%, rgba(0,83,227,1) 100%);
  background: linear-gradient(135deg, rgba(0,159,227,1) 0%, rgba(0,83,227,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#009fe3', endColorstr='#0053e3', GradientType=1 );
  background-attachment: fixed;
  color: $white;
  padding: 15px;

  @include media(tablet) {
    padding: 15px 0 20px 30px;
  }

  @include media(desktop) {
    padding: 15px 0 20px 60px;
  }

  h1 {
    font-family: $font_bold;
    position: relative;
    display: block;
    font-size: 36px;
    height: 80px;
    margin: 0;

    span {
      position: absolute;
      &.digital {
        top: 29px;
        left: 21px;
      }
    }

    @include media(tablet) {
      font-size: 48px;
      height: 110px;
      span {
        &.digital {
          top: 39px;
          left: 29px;
        }
      }
    }

    @include media(desktop) {
      font-size: 60px;
      height: 130px;
      span {
        &.digital {
          top: 48px;
          left: 35px;
        }
      }
    }

  }
}

ul.disciplines {

  display:inline-block;
  margin-bottom: 30px;

  li {

    font-size: 40px;
    line-height: 50px;
    font-family: $font_bold;

    @include media(tablet) {

    }

  }
}

.content {
  padding: 30px 15px;

  @include media(tablet) {
    padding: 40px 35% 60px 25%;
  }

  @include media(desktop) {
    padding: 60px 25% 60px 35%;
  }
}

h2 {
  font-family: $font_bold;
  margin-bottom: 20px;

  @include media(desktop) {
    font-size: 24px;
    margin-bottom: 30px;
  }
}

p {
  font-size: 20px;
  margin-bottom: 20px;

  @include media(desktop) {
    font-size: 24px;
    margin-bottom: 30px;
  }

  a {
    font-family: $font_bold;
  }
}

a,
a:active,
a:visited {
  color: inherit;
}

::selection {
  color: $brand-blue;
  background: $white;
}
::-moz-selection {
  color: $brand-blue;
  background: $white;
}
